<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Student</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured page FOR USER!</h1>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
    
    
    <p>Spring Security Thymeleaf tutorial</p>
        <div sec:authorize="hasRole('STUDENT')">Text visible to user.</div>
        <div sec:authorize="hasRole('MANAGER')">Text visible to MANAGER.</div>
        <div sec:authorize="isAuthenticated()">
            Text visible only to authenticated users.
        </div>
        Authenticated username:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>
</div>
</body>
</html>
