<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
 
<head>
	<script type="text/javascript" th:src="@{/js/adminJS/adminUsers.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <title>Admin-User</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
	
		<input id = "userNameId" type="hidden" th:value="${userName}" name="userName" />
		<input id = "userRoleId" type="hidden" th:value="${userRole}" name="userRole" />
		<input id = "ApiContextPathId" type="hidden" th:value="${apiContextPath}" name="ApiContextPathId" />
    	
    	<!-- =================================================== Tab ============================================================= -->
    	
    	<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#libarianTab">Librarian</a></li>
		  <li><a data-toggle="tab" href="#studentTab" id = "StudentTabId">Student</a></li>
		</ul>

		<div class="tab-content">
		  <div id="libarianTab" class="tab-pane fade in active">
			  	<br>
				<div class="panel panel-default">
					<div class="panel-heading">Librarian</div>
					 <div class="panel-body">
					 	<div class="row">	<div class="col-sm-1" ></div>
				    		<div class="col-sm-12" >
				    			<div class = "table-responsive">
					    			<table id="librarianTableId" class="cell-border" style="width:100%">
								        <thead>
								            <tr>
								                <th></th>
								                <th>Id</th>
								                <th>First name</th>
								                <th>Middle Name</th>
								                <th>Last Name</th>
								                <th>Email</th>
								                <th>Action</th>
								            </tr>
								        </thead>
								    </table>
					    		</div>
				    		</div>
				    		
				   		</div>
					 </div>
					 <div class="panel-footer"></div>
				</div>
				
		  </div>
		  <div id="studentTab" class="tab-pane fade">
		  	<div class="container">
		  		<br>
		  		<div class="panel panel-default">
				   	<div class="panel-heading">Student</div>
					<div class="panel-body">
					  <div class="row">	
			    		<div class="col-sm-18" >
			    			<div class = "table-responsive">
				    			<div id = "publisherGridId"></div>
				    		</div>
			    		</div>
			   		</div>
					</div>
					<div class="panel-footer"></div>
				</div>
				<div class="container">
					<div class="col-sm-2" ></div>
					<div class="col-sm-8" >
						<div class="panel panel-default">
						    <div class="panel-heading">Student Detail</div>
						    <div class="panel-body">Panel Content</div>
						</div>
					</div>
					<div class="col-sm-2" ></div>
			   </div>
			</div>
		  </div>
		</div>
    	<!-- ========================================================= END TAB ========================================================== --> 
    	
    	<!-- ========================================================== MODAL =========================================================== -->
    	<!-- Basic Info Modal -->
		<div id="librarianInfoModalId" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Edit Librarian Infos</h4>
				    </div>
				    <div class="modal-body">
				    	<div id = "modalBasicInfoContainerId">
				    		<div class="row">
	    						<div class="col-sm-3" ></div>
	    						<div class="col-sm-3">First Name*</div>
	    						<div class="col-sm-3" >
	    	 						<input type = "text"  id = "modalLibrarianFirstNameId" class = "form-control mb-1 col-1" placeholder = "First Name">
	    						</div>
	 							<div class="col-sm-3" ></div>
	   						</div>
	   						<br>
	   						<div class="row">
	    						<div class="col-sm-3" ></div>
	    						<div class="col-sm-3">Middle Name</div>
	    						<div class="col-sm-3" >
	    	 						<input type = "text"  id = "modalLibrarianMiddleNameId" class = "form-control mb-1 col-1" placeholder = "Middle Name">
	    						</div>
	 							<div class="col-sm-3" ></div>
	   						</div>
	   						<br>
	   						<div class="row">
	    						<div class="col-sm-3" ></div>
	    						<div class="col-sm-3">Last Name*</div>
	    						<div class="col-sm-3" >
	    	 						<input type = "text"  id = "modalLibrarianLastNameId" class = "form-control mb-1 col-1" placeholder = "Last Name">
	    						</div>
	 							<div class="col-sm-3" ></div>
	   						</div>
	   						<br>
	   						<div class="row">
	    						<div class="col-sm-3" ></div>
	    						<div class="col-sm-3">Email*</div>
	    						<div class="col-sm-4" >
	    	 						<input type = "text"  id = "modalLibrarianEmailId" class = "form-control mb-1 col-1" placeholder = "Email">
	    						</div>
	 							<div class="col-sm-2" ></div>
	   						</div>
	   						<br>
	   						<div class="row">
	    						<div class="col-sm-3" ></div>
	    						<div class="col-sm-3"></div>
	    						<div class="col-sm-3" ></div>
	 							<div class="col-sm-3" >(*) Required Fields</div>
	   						</div>
				    	</div>    
				    </div>
				    <div class="modal-footer">
				       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				       <button type="button" class="btn btn-primary" id = "saveBasicInfoModalBtnId">Save changes</button>
				    </div>
				</div>
			</div>
		</div>
    	<!-- ========================================================= END MODAL ======================================================== --> 
	</div>
</body>
</html>
 
