<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="headerText">
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
     			 	<a class="navbar-brand" href="#">LibraryManagementSystem</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li class="active"><a th:href="@{/admin}">Admin Home</a></li>
      				<li><a th:href="@{/admin/adminUsers}">User</a></li>
     		   		<li><a th:href="@{/admin/adminBooks}">Books</a></li>
    			</ul>
    			<ul class="nav navbar-nav navbar-right">
    				<li><a th:href="@{/admin/adminProfile}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
      				<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    			</ul>
  			</div>
		</nav>	
	</th:block>
</body>
</html>

