<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="headerText">
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
     			 	<a class="navbar-brand" href="/">LibraryManagementSystem</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li class="active"><a th:href="@{/resource}">Resource</a></li>
    			</ul>
    			<ul class="nav navbar-nav navbar-right">
      				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      				<li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    			</ul>
  			</div>
		</nav>	
	</th:block>
</body>
</html>

