<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment = "footerText">
		<div class = "container">
        	<p class = "text-center">
                &copy; Simplice Chedjou Inc.
                <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    | Logged in as : <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
            </p>
        </div>	
	</th:block>
</body>
</html>

