<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/toastr.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jsgrid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jsgrid-theme.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jsgrid.min.js}"></script>
	
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Library Management System</title>
</head>
<body>
    <th:block th:replace="fragments/header :: header"/>
    
    <div class="container">
        <th:block layout:fragment="content"/>
    </div>
    
    <th:block th:replace="fragments/footer :: footer"/>
    
</body>
</html>

