h1 {
    color: #78ab46;
}

#anyUserFooter {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

#anyUserFooter {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #b59f95
}

#userFooter {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #15dc1a
}

#librarianFooter {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #cfad2f
}

#adminFooter{
	position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #e00d0d
}

td.details-control {
    background: url('DataTables-1.10.18/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('DataTables-1.10.18/images/details_close.png') no-repeat center center;
}
 No newline at end of file
