<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/layout}">
 
<head>
	<script type="text/javascript" th:src="@{/js/adminJS/myjs.js}"></script>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
   
        <div sec:authorize="!isAuthenticated()">
        	<h1 class = "text-center" >Hello this in the Index Page Visible by Everyone</h1>
		</div>
        <div sec:authorize="hasRole('STUDENT')">
        <h1 class = "text-center" >Hello this in the Index Page visible by USER</h1>
        	 <ul>
          		<li>Go to the <a href="/user" th:href="@{/user}">User secured pages</a></li>
          	 </ul>
		</div>
        <div sec:authorize="hasRole('LIBRARIAN')">
        <h1 class = "text-center" >Hello this in the Index Page visible by Librarian</h1>
        	 <ul>
        	 	<li>Go to the <a href="/librarian" th:href="@{/librarian}">Librarian secured pages</a></li>
        	 </ul>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
		<h1 class = "text-center" >Hello this in the Index Page visible by ADMIN</h1>
		 	<ul>
        	 	<li>Go to the <a href="/admin" th:href="@{/admin}">Manager secured pages</a></li>
        	 </ul>
		</div>
   
</div>
</body>
</html>

